<h1>Add an Album</h1>
<form action="/albums" method="POST">
    <div>
      <label>Album Title</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>Album Release Year</label>
      <input type="text" name="release_year">
    </div>
    <div>
      <label>Album Artist ID</label>
      <input type="text" name="artist_id">
    </div>
    <div>
      <input type="submit" value="Submit the form">
    </div>
</form>
