<h1>Add an Artist</h1>
<form action="/artists" method="POST">
    <div>
      <label>Artist name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label>Artist Genre</label>
      <input type="text" name="genre">
    </div>
    <div>
      <input type="submit" value="Submit the form">
    </div>
</form>